# Rocket Bunny Dashboard Prototype

FILENAME: rb_visuals.ipynb

DATE CREATED: 10-APR-21

## PHASE 1: Environment Setup

In [27]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import pandas as pd
import numpy as np

import plotly.express as px
import plotly.graph_objects as go
import seaborn as sns

Function declaration

In [28]:
def is_ma_pos(val):
    
    if val > 0:
        return True
    else:
        return False

In [29]:
def numpy_ewma_vectorized(data, window):

    alpha = 2 /(window + 1.0)
    alpha_rev = 1-alpha

    scale = 1/alpha_rev
    n = data.shape[0]

    r = np.arange(n)
    scale_arr = scale**r
    offset = data[0]*alpha_rev**(r+1)
    pw0 = alpha*alpha_rev**(n-1)

    mult = data*pw0*scale_arr
    cumsums = mult.cumsum()
    out = offset + cumsums*scale_arr[::-1]
    return out

In [30]:
def rma(x, n, y0):
        a = (n-1) / n
        ak = a**np.arange(len(x)-1, -1, -1)
        return np.r_[np.full(n, np.nan), y0, np.cumsum(ak * x) / ak / n + y0 * a**np.arange(1, len(x)+1)]

Class definition

## PHASE 2: Data ETL

Read in the raw data

In [31]:


raw_data = pd.read_csv("data/bunny-usd-max.csv")
#data = data.query("type == 'conventional' and region == 'Albany'")
#raw_data["date"] = pd.to_datetime(raw_data["date"], format="%Y-%m-%d")

#data.sort_values("Date", inplace=True)

raw_data.head(5)

                snapped_at         price  market_cap  total_volume
0  2021-03-12 00:00:00 UTC  3.544890e-11         0.0  1.269872e+07
1  2021-03-13 00:00:00 UTC  3.544890e-11         0.0  1.269872e+07
2  2021-03-14 00:00:00 UTC  2.723985e-11         0.0  4.711907e+06
3  2021-03-15 00:00:00 UTC  2.276712e-11         0.0  1.814948e+06
4  2021-03-16 00:00:00 UTC  3.197680e-11         0.0  1.701247e+06

In [32]:
app = dash.Dash(__name__)

In [33]:

data = raw_data.rename({'snapped_at': 'dtg'}, axis=1)
data

                        dtg         price  market_cap  total_volume
0   2021-03-12 00:00:00 UTC  3.544890e-11         0.0  1.269872e+07
1   2021-03-13 00:00:00 UTC  3.544890e-11         0.0  1.269872e+07
2   2021-03-14 00:00:00 UTC  2.723985e-11         0.0  4.711907e+06
3   2021-03-15 00:00:00 UTC  2.276712e-11         0.0  1.814948e+06
4   2021-03-16 00:00:00 UTC  3.197680e-11         0.0  1.701247e+06
5   2021-03-17 00:00:00 UTC  2.807747e-11         0.0  1.015236e+06
6   2021-03-18 00:00:00 UTC  2.112662e-11         0.0  7.644860e+05
7   2021-03-19 00:00:00 UTC  2.096311e-11         0.0  5.282036e+05
8   2021-03-20 00:00:00 UTC  1.781857e-11         0.0  3.706957e+05
9   2021-03-21 00:00:00 UTC  1.714733e-11         0.0  3.667799e+05
10  2021-03-22 00:00:00 UTC  1.248128e-11         0.0  2.645174e+05
11  2021-03-23 00:00:00 UTC  1.253368e-11         0.0  2.989491e+05
12  2021-03-24 00:00:00 UTC  1.187572e-11         0.0  2.446592e+05
13  2021-03-25 00:00:00 UTC  9.457534e-12         0.0  9.767863e+04
14  2021-03-26 00:00:00 UTC  7.305428e-12         0.0  1.588256e+05
15  2021-03-27 00:00:00 UTC  8.744555e-12         0.0  7.500085e+04
16  2021-03-28 00:00:00 UTC  7.207942e-12         0.0  8.720499e+04
17  2021-03-29 00:00:00 UTC  7.650775e-12         0.0  1.179895e+05
18  2021-03-30 00:00:00 UTC  9.388180e-12         0.0  1.756815e+05
19  2021-03-31 00:00:00 UTC  7.174641e-12         0.0  1.475005e+05
20  2021-04-01 00:00:00 UTC  8.115414e-12         0.0  4.018831e+04
21  2021-04-02 00:00:00 UTC  7.999102e-12         0.0  3.436873e+04
22  2021-04-03 00:00:00 UTC  8.651488e-12         0.0  6.746490e+04

In [34]:
col_list = list(data.columns)
col_list

['dtg', 'price', 'market_cap', 'total_volume']

In [35]:
close_np = data['price'].to_list()
close_np

[3.544890372449417e-11,
 3.544890372449417e-11,
 2.7239851621885825e-11,
 2.276711980520152e-11,
 3.1976800418536546e-11,
 2.8077474254547858e-11,
 2.1126616432418585e-11,
 2.0963108885770787e-11,
 1.7818568348394942e-11,
 1.714732901367917e-11,
 1.2481281902033133e-11,
 1.2533681483670114e-11,
 1.1875716146667161e-11,
 9.457534146178276e-12,
 7.305428315404949e-12,
 8.744554690166982e-12,
 7.207941603822242e-12,
 7.650775307094981e-12,
 9.388180178763074e-12,
 7.174640793551023e-12,
 8.115413911027787e-12,
 7.999102012443927e-12,
 8.651487749048858e-12]

In [45]:
data['date'] = pd.to_datetime(data['date']).dt.date
data['year'] = pd.DatetimeIndex(data['date']).year
data['month'] = pd.DatetimeIndex(data['date']).month
data['day'] = pd.DatetimeIndex(data['date']).day
data['hour'] = pd.DatetimeIndex(data['date']).hour.astype(str)

In [46]:
data

,dtg,price,market_cap,total_volume,date,year,month,day,hour
0,2021-03-12 00:00:00 UTC,3.544890e-11,0.0,1.269872e+07,2021-03-12,2021,3,12,0
1,2021-03-13 00:00:00 UTC,3.544890e-11,0.0,1.269872e+07,2021-03-13,2021,3,13,0
2,2021-03-14 00:00:00 UTC,2.723985e-11,0.0,4.711907e+06,2021-03-14,2021,3,14,0
3,2021-03-15 00:00:00 UTC,2.276712e-11,0.0,1.814948e+06,2021-03-15,2021,3,15,0
4,2021-03-16 00:00:00 UTC,3.197680e-11,0.0,1.701247e+06,2021-03-16,2021,3,16,0
5,2021-03-17 00:00:00 UTC,2.807747e-11,0.0,1.015236e+06,2021-03-17,2021,3,17,0
6,2021-03-18 00:00:00 UTC,2.112662e-11,0.0,7.644860e+05,2021-03-18,2021,3,18,0
7,2021-03-19 00:00:00 UTC,2.096311e-11,0.0,5.282036e+05,2021-03-19,2021,3,19,0
8,2021-03-20 00:00:00 UTC,1.781857e-11,0.0,3.706957e+05,2021-03-20,2021,3,20,0
9,2021-03-21 00:00:00 UTC,1.714733e-11,0.0,3.667799e+05,2021-03-21,2021,3,21,0
10,2021-03-22 00:00:00 UTC,1.248128e-11,0.0,2.645174e+05,2021-03-22,2021,3,22,0
11,2021-03-23 00:00:00 UTC,1.253368e-11,0.0,2.989491e+05,2021-03-23,2021,3,23,0
12,2021-03-24 00:00:00 UTC,1.187572e-11,0.0,2.446592e+05,2021-03-24,2021,3,24,0
13,2021-03-25 00:00:00 UTC,9.457534e-12,0.0,9.767863e+04,2021-03-25,2021,3,25,0
14,2021-03-26 00:00:00 UTC,7.305428e-12,0.0,1.588256e+05,2021-03-26,2021,3,26,0
15,2021-03-27 00:00:00 UTC,8.744555e-12,0.0,7.500085e+04,2021-03-27,2021,3,27,0
16,2021-03-28 00:00:00 UTC,7.207942e-12,0.0,8.720499e+04,2021-03-28,2021,3,28,0
17,2021-03-29 00:00:00 UTC,7.650775e-12,0.0,1.179895e+05,2021-03-29,2021,3,29,0
18,2021-03-30 00:00:00 UTC,9.388180e-12,0.0,1.756815e+05,2021-03-30,2021,3,30,0
19,2021-03-31 00:00:00 UTC,7.174641e-12,0.0,1.475005e+05,2021-03-31,2021,3,31,0
20,2021-04-01 00:00:00 UTC,8.115414e-12,0.0,4.018831e+04,2021-04-01,2021,4,1,0
21,2021-04-02 00:00:00 UTC,7.999102e-12,0.0,3.436873e+04,2021-04-02,2021,4,2,0
22,2021-04-03 00:00:00 UTC,8.651488e-12,0.0,6.746490e+04,2021-04-03,2021,4,3,0

Calculate 'gain' and 'loss' columns

In [55]:
data['close_diff'] = data['price'].diff()
data['bool_close_diff'] = data['close_diff'].apply(is_ma_pos)

In [56]:
data['gain'] = data.close_diff.mask(data.close_diff < 0, 0.0)
data['loss'] = -data.close_diff.mask(data.close_diff > 0, -0.0)

n=14 # rsi window number
data['avg_gain'] = rma(data.gain[n+1:].to_numpy(), n, np.nansum(data.gain.to_numpy()[:n+1])/n)
data['avg_loss'] = rma(data.loss[n+1:].to_numpy(), n, np.nansum(data.loss.to_numpy()[:n+1])/n)

NameError: name 'self' is not defined

Calculate rolling mean

In [49]:
data['SMA7'] = data['price'].rolling(window=7).mean()
data['SMA30'] = data['price'].rolling(window=30).mean()

Calculate rolling standard deviation

In [50]:
data['STD7'] = data['price'].rolling(window=7).std()
data['STD30'] = data['price'].rolling(window=30).std()

#data['STD99'] = self.aggregate_df['Close'].rolling(window=99).std()

Calculate rolling variance

In [51]:
data['VAR7'] = data['price'].rolling(window=7).var()
data['VAR30'] = data['price'].rolling(window=30).var()

#data['VAR99'] = self.aggregate_df['Close'].rolling(window=99).var()

Calculate MACD

In [52]:
data['SMA-MACD'] = data['SMA7'] - data['SMA30']
data['SMA-MACD-ratio'] = data['SMA7'] / data['SMA30']
data['bool_diff_SMA7_SMA30'] = data['SMA-MACD'].apply(is_ma_pos)

In [53]:
data

,dtg,price,market_cap,total_volume,date,year,month,day,hour,SMA7,SMA30,STD7,STD30,VAR7,VAR30,SMA-MACD,SMA-MACD-ratio,bool_diff_SMA7_SMA30
0,2021-03-12 00:00:00 UTC,3.544890e-11,0.0,1.269872e+07,2021-03-12,2021,3,12,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1,2021-03-13 00:00:00 UTC,3.544890e-11,0.0,1.269872e+07,2021-03-13,2021,3,13,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2,2021-03-14 00:00:00 UTC,2.723985e-11,0.0,4.711907e+06,2021-03-14,2021,3,14,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3,2021-03-15 00:00:00 UTC,2.276712e-11,0.0,1.814948e+06,2021-03-15,2021,3,15,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4,2021-03-16 00:00:00 UTC,3.197680e-11,0.0,1.701247e+06,2021-03-16,2021,3,16,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
5,2021-03-17 00:00:00 UTC,2.807747e-11,0.0,1.015236e+06,2021-03-17,2021,3,17,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
6,2021-03-18 00:00:00 UTC,2.112662e-11,0.0,7.644860e+05,2021-03-18,2021,3,18,0,2.886938e-11,NaN,5.725772e-12,NaN,3.278446e-23,NaN,NaN,NaN,False
7,2021-03-19 00:00:00 UTC,2.096311e-11,0.0,5.282036e+05,2021-03-19,2021,3,19,0,2.679998e-11,NaN,5.567000e-12,NaN,3.099148e-23,NaN,NaN,NaN,False
8,2021-03-20 00:00:00 UTC,1.781857e-11,0.0,3.706957e+05,2021-03-20,2021,3,20,0,2.428136e-11,NaN,4.956591e-12,NaN,2.456779e-23,NaN,NaN,NaN,False
9,2021-03-21 00:00:00 UTC,1.714733e-11,0.0,3.667799e+05,2021-03-21,2021,3,21,0,2.283957e-11,NaN,5.400575e-12,NaN,2.916621e-23,NaN,NaN,NaN,False
10,2021-03-22 00:00:00 UTC,1.248128e-11,0.0,2.645174e+05,2021-03-22,2021,3,22,0,2.137017e-11,NaN,6.672982e-12,NaN,4.452869e-23,NaN,NaN,NaN,False
11,2021-03-23 00:00:00 UTC,1.253368e-11,0.0,2.989491e+05,2021-03-23,2021,3,23,0,1.859258e-11,NaN,5.458175e-12,NaN,2.979167e-23,NaN,NaN,NaN,False
12,2021-03-24 00:00:00 UTC,1.187572e-11,0.0,2.446592e+05,2021-03-24,2021,3,24,0,1.627804e-11,NaN,4.008397e-12,NaN,1.606725e-23,NaN,NaN,NaN,False
13,2021-03-25 00:00:00 UTC,9.457534e-12,0.0,9.767863e+04,2021-03-25,2021,3,25,0,1.461103e-11,NaN,4.081701e-12,NaN,1.666028e-23,NaN,NaN,NaN,False
14,2021-03-26 00:00:00 UTC,7.305428e-12,0.0,1.588256e+05,2021-03-26,2021,3,26,0,1.265993e-11,NaN,3.793353e-12,NaN,1.438953e-23,NaN,NaN,NaN,False
15,2021-03-27 00:00:00 UTC,8.744555e-12,0.0,7.500085e+04,2021-03-27,2021,3,27,0,1.136365e-11,NaN,3.247905e-12,NaN,1.054889e-23,NaN,NaN,NaN,False
16,2021-03-28 00:00:00 UTC,7.207942e-12,0.0,8.720499e+04,2021-03-28,2021,3,28,0,9.943734e-12,NaN,2.345178e-12,NaN,5.499862e-24,NaN,NaN,NaN,False
17,2021-03-29 00:00:00 UTC,7.650775e-12,0.0,1.179895e+05,2021-03-29,2021,3,29,0,9.253662e-12,NaN,2.178848e-12,NaN,4.747380e-24,NaN,NaN,NaN,False
18,2021-03-30 00:00:00 UTC,9.388180e-12,0.0,1.756815e+05,2021-03-30,2021,3,30,0,8.804304e-12,NaN,1.649767e-12,NaN,2.721732e-24,NaN,NaN,NaN,False
19,2021-03-31 00:00:00 UTC,7.174641e-12,0.0,1.475005e+05,2021-03-31,2021,3,31,0,8.132722e-12,NaN,1.032430e-12,NaN,1.065911e-24,NaN,NaN,NaN,False
20,2021-04-01 00:00:00 UTC,8.115414e-12,0.0,4.018831e+04,2021-04-01,2021,4,1,0,7.940991e-12,NaN,8.547235e-13,NaN,7.305523e-25,NaN,NaN,NaN,False
21,2021-04-02 00:00:00 UTC,7.999102e-12,0.0,3.436873e+04,2021-04-02,2021,4,2,0,8.040087e-12,NaN,8.076726e-13,NaN,6.523351e-25,NaN,NaN,NaN,False
22,2021-04-03 00:00:00 UTC,8.651488e-12,0.0,6.746490e+04,2021-04-03,2021,4,3,0,8.026792e-12,NaN,7.948070e-13,NaN,6.317182e-25,NaN,NaN,NaN,False