# RAYMOND'S FIRST PROJECT

print("Hello World")

"Hello World"

my_var = 2
your_var = 4

our_sum = my_var + your_var
our_sum

our_sum_str = str(our_sum)
our_sum_str

our_sum_float = float(our_sum)
our_sum_float

hello = "hello"
world = "world"

hello_world = hello +' ' + world

hello_world

## Start import

In [8]:
import pandas as pd

In [9]:
raw_data = pd.read_csv('data/rb_series.csv')

In [10]:
raw_data.head(5)

         date         price
0  2021-03-12  3.544890e-11
1  2021-03-13  3.544890e-11
2  2021-03-14  2.723985e-11
3  2021-03-15  2.276712e-11
4  2021-03-16  3.197680e-11

In [11]:
raw_data.tail(5)

          date         price
64  2021-05-15  1.324111e-10
65  2021-05-16  1.031283e-10
66  2021-05-17  9.762382e-11
67  2021-05-18  7.497404e-11
68  2021-05-19  8.739058e-11

In [12]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    69 non-null     object
 1   price   69 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.2+ KB

In [13]:
raw_data['date'] = pd.to_datetime(raw_data['date'])
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    69 non-null     datetime64[ns]
 1   price   69 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.2 KB

In [14]:
data = raw_data.copy()

In [15]:
data['dtg'] = pd.to_datetime(data['date']).dt.date
data['year'] = pd.DatetimeIndex(data['dtg']).year
data['month'] = pd.DatetimeIndex(data['dtg']).month
data['day'] = pd.DatetimeIndex(data['dtg']).day
data['hour'] = pd.DatetimeIndex(data['dtg']).hour.astype(str)

data.tail(5)

         date         price         dtg  year  month  day hour
64 2021-05-15  1.324111e-10  2021-05-15  2021      5   15    0
65 2021-05-16  1.031283e-10  2021-05-16  2021      5   16    0
66 2021-05-17  9.762382e-11  2021-05-17  2021      5   17    0
67 2021-05-18  7.497404e-11  2021-05-18  2021      5   18    0
68 2021-05-19  8.739058e-11  2021-05-19  2021      5   19    0

In [16]:
month_df = data[['price', 'month']]
month_df.tail(5)

           price  month
64  1.324111e-10      5
65  1.031283e-10      5
66  9.762382e-11      5
67  7.497404e-11      5
68  8.739058e-11      5