# Rocket Bunny Dashboard Prototype

FILENAME: rb_visuals.ipynb

DATE CREATED: 10-APR-21

## PHASE 1: Environment Setup

In [1]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import pandas as pd
import numpy as np

import plotly.express as px
import plotly.graph_objects as go
import seaborn as sns

Function declaration

def test

## PHASE 2: Data ETL

Read in the raw data

In [5]:


raw_data = pd.read_csv("data/bunny-usd-max.csv")
#data = data.query("type == 'conventional' and region == 'Albany'")
#raw_data["date"] = pd.to_datetime(raw_data["date"], format="%Y-%m-%d")

#data.sort_values("Date", inplace=True)

raw_data.head(5)

                snapped_at         price  market_cap  total_volume
0  2021-03-12 00:00:00 UTC  3.544890e-11         0.0  1.269872e+07
1  2021-03-13 00:00:00 UTC  3.544890e-11         0.0  1.269872e+07
2  2021-03-14 00:00:00 UTC  2.723985e-11         0.0  4.711907e+06
3  2021-03-15 00:00:00 UTC  2.276712e-11         0.0  1.814948e+06
4  2021-03-16 00:00:00 UTC  3.197680e-11         0.0  1.701247e+06

In [6]:
app = dash.Dash(__name__)

In [8]:
data = raw_data.copy()
data

                 snapped_at         price  market_cap  total_volume
0   2021-03-12 00:00:00 UTC  3.544890e-11         0.0  1.269872e+07
1   2021-03-13 00:00:00 UTC  3.544890e-11         0.0  1.269872e+07
2   2021-03-14 00:00:00 UTC  2.723985e-11         0.0  4.711907e+06
3   2021-03-15 00:00:00 UTC  2.276712e-11         0.0  1.814948e+06
4   2021-03-16 00:00:00 UTC  3.197680e-11         0.0  1.701247e+06
5   2021-03-17 00:00:00 UTC  2.807747e-11         0.0  1.015236e+06
6   2021-03-18 00:00:00 UTC  2.112662e-11         0.0  7.644860e+05
7   2021-03-19 00:00:00 UTC  2.096311e-11         0.0  5.282036e+05
8   2021-03-20 00:00:00 UTC  1.781857e-11         0.0  3.706957e+05
9   2021-03-21 00:00:00 UTC  1.714733e-11         0.0  3.667799e+05
10  2021-03-22 00:00:00 UTC  1.248128e-11         0.0  2.645174e+05
11  2021-03-23 00:00:00 UTC  1.253368e-11         0.0  2.989491e+05
12  2021-03-24 00:00:00 UTC  1.187572e-11         0.0  2.446592e+05
13  2021-03-25 00:00:00 UTC  9.457534e-12         0.0  9.767863e+04
14  2021-03-26 00:00:00 UTC  7.305428e-12         0.0  1.588256e+05
15  2021-03-27 00:00:00 UTC  8.744555e-12         0.0  7.500085e+04
16  2021-03-28 00:00:00 UTC  7.207942e-12         0.0  8.720499e+04
17  2021-03-29 00:00:00 UTC  7.650775e-12         0.0  1.179895e+05
18  2021-03-30 00:00:00 UTC  9.388180e-12         0.0  1.756815e+05
19  2021-03-31 00:00:00 UTC  7.174641e-12         0.0  1.475005e+05
20  2021-04-01 00:00:00 UTC  8.115414e-12         0.0  4.018831e+04
21  2021-04-02 00:00:00 UTC  7.999102e-12         0.0  3.436873e+04
22  2021-04-03 00:00:00 UTC  8.651488e-12         0.0  6.746490e+04

In [7]:
col_list = list(data.columns)
col_list

['snapped_at', 'price', 'market_cap', 'total_volume']

In [ ]:
close_np = data['price'].to_list()
close_np